 @charset "UTF-08";
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
:root {
    --body-bg-color: #FAF7FD;
    --fonte:white;
  }
  *{
    text-shadow: 2px 2px 2px black;
    color: var(--purple);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  #foto{
    padding: 5px;
    border: solid var(--fonte);
    border-radius: 300px;
    width: 300px;
    height: 300px;
  }
  body{

    margin: auto;
    color: var(--fonte);
    background-image: url(img/galaxy.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    
  }
  main{
    padding-top: 10px;
    margin: auto;
    text-align: center;
    max-width: 1000px;
    }
    main p{
        font-weight: bolder;
        font-size: 50px;
    }

#links{
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #links div{

        border: solid var(--fonte);
        border-radius: 10px;
        padding: 20px 25px;
        width: 400px;
        margin: 10px;
        
        font-weight:600;
        font-size: 30px;
     }
    #links div:hover{
    background-color: #76089183;
}
        
  #icones{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    }
     #icones div{
        border-radius: 300px;
        padding: 15px;
    }
        #icones div:hover{
            background-color: #76089183;
           
            
        }